body {

}

.container {
	background-image: url();
}
.container h1{
	text-align: center;
}
.form-group{
	display: none;
}
#onClick {
	text-align: center;
}
#blueLink {
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}
#toggle1{

}
#userInputSize {
	display: none;
}
#userInputSize option{

}
#toggle2{

}
#userInputSauce {
	display: none;
}
#userInputSauce option{

}
#toggle3{

}
#userInputCrust {
	display: none;
}
#userInputCrust option{

}
#toggle4{
	text-decoration: underline;
}
#userInputVeggieTopping {
	display: none;
}
#userInputVeggieTopping input{

}
#toggle5{
	text-decoration: underline;
}
#userInputMeatTopping {
	display: none;
}
#userInputMeatTopping input{

}
.col-md-6 {
	display: none;
}
#complete-pizza {
	/*display: none;*/
}
button{
	text-align: center;

}
/** {
	border: 2px solid green;
}*/
#allToppingSelect {

}
